html {
  font-size: 16px;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xmas {
  background-image: url("../img/tree.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  height: 100vmin;
  width: 100vmin;

  .headline {
    font-weight: 600;
    padding: 1rem;
  
    @media (min-width: 960px) {
      font-size: 3rem;    
    }
  }
}

.drama {
  background: #0026ca;
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 1rem;
  text-align: center;
  height: 100vh;
  width: 100vmin;

  .breaking,
  .news {
    padding: 0.5rem;
  }  
  
  .breaking {
    display: inline-block;
    background: #d50000;
  }

  .newspaper {
    padding-top: 25vmin;
    text-align: center;
    width: 100%;
    
    img {
      animation-name: spin;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      max-width: 50%;
    }
  }
}

.hide {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg) scale(0.1,0.1);
  }

  to {
    transform: rotate(360deg) scale(1.8,1.8);
  }
}

#start-intro {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}

#start-game {
  position: absolute;
  display: block;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  z-index: 5;
  font-size: 1.5rem;
  background: #666;
  color: #fff;
  width: 300px;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 1rem;
  text-decoration: none;
}
